* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background-color: #BE3144;
    padding: 2rem;
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
}

nav > a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-right: .5rem;
}

#welcome-section {
    color: white;
    background-color: #242426;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 60vh;
}
p {
    color: #BE3143;
}