* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background-color: #BE3144;
    padding: 2rem;
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
}

nav > a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin-right: .5rem;
}

#welcome-section {
    color: white;
    background-color: #242426;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
}
p {
    color: #BE3143;
}

.projects_title {
    text-align: center;
    margin-bottom: 2rem;
}

#projects {
    background-color: #45567D;
    padding: 4rem;
    color: white;
}

.project-tile {
    background-color: rgb(48,56,65);
    width: 400px;
}

.project-tile > img {
    width: 100%;
}

.project-tile > a {
    color: white;
    padding: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.project-tile > p {
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
}

.projects-container {
    display: flex;
    gap: 15px;
}

@media only screen and (max-width: 600px) {
.projects-container {
    flex-direction: column;
  }
}

#profile-link {
    background-color: #303841;
    padding: 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;
    display: block;
    width: 200px;
    box-sizing: inherit;
}

#contact {
    background-color: #313841;
    text-align: center;
    text-decoration: none;
    padding: 5rem;
    color: white;

}
#contact > p {
    color: white;
    padding: 1rem;
}

#footer{
    background-color: #313841;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    display: flex;
    margin-top: -120px;
}